<ESRI.Configuration xmlns="http://schemas.esri.com/Desktop/AddIns" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><Name>NRCS HEL Determination</Name><AddInID>{30e25d79-8d64-4f98-8423-7b9ee6599e74}</AddInID><Description>Off-site NRCS HEL Determination Tool</Description><Version>2.0.3</Version><Image>Images\Drop.png</Image><Author>NRCS HEL Team</Author><Company>USDA-NRCS</Company><Date>01/06/2020</Date><Targets><Target name="Desktop" version="10.1" /></Targets><AddIn language="PYTHON" library="Addin_NRCSHEL_addin.py" namespace="Addin_NRCSHEL_addin"><ArcMap>
    <Commands>
        <Button caption="NRCS HEL Tool" category="NRCS HEL Determination" class="Button1" id="Addin_NRCSHEL_addin.button1" image="" message="NRCS HEL Determination Tool" tip="NRCS HEL Determination Tool"><Help heading="" /></Button>
        <Button caption="Download DEM from NRCS Service" category="NRCS HEL Determination" class="Button2" id="Addin_NRCSHEL_addin.button2" image="Images\DEM_Download.PNG" message="Download DEM from NRCS Service" tip="Download DEM from NRCS Service"><Help heading="" /></Button>
        <Button caption="Merge HEL Soil Data" category="NRCS HEL Determination" class="Button3" id="Addin_NRCSHEL_addin.button3" image="Images\soil_triangle.png" message="Merge HEL Soil Data" tip="Merge HEL Soil Data"><Help heading="" /></Button>
        <Button caption="Merge Local DEM Data" category="NRCS HEL Determination" class="Button4" id="Addin_NRCSHEL_addin.button4" image="Images\DEM_Merge.PNG" message="Merge Local DEM Data" tip="Merge Local DEM Data"><Help heading="" /></Button>
        </Commands>
    <Extensions>
        </Extensions>
    <Toolbars>
        <Toolbar caption="NRCS HEL Determination" category="NRCS HEL Determination" id="Addin_NRCSHEL_addin.toolbar" showInitially="true"><Items><Button refID="Addin_NRCSHEL_addin.button1" /><Menu refID="Addin_NRCSHEL_addin.menu" /></Items></Toolbar>
        </Toolbars>
    <Menus>
        <Menu caption="Utilities" category="NRCS HEL Determination" id="Addin_NRCSHEL_addin.menu" isRootMenu="false" isShortcutMenu="false" separator="true"><Items><Button refID="Addin_NRCSHEL_addin.button2" /><Button refID="Addin_NRCSHEL_addin.button3" /><Button refID="Addin_NRCSHEL_addin.button4" /></Items></Menu>
        </Menus>
    </ArcMap></AddIn></ESRI.Configuration>